#btnUserForm,#btnBookForm,#btnBorrowForm,#btnFineForm,#btnReportForm{
    -fx-background-color: #5A5757; /* Dark gray background */
    -fx-text-fill: white; /* White text */
    -fx-font-size: 14px; /* Adjust font size */
    -fx-background-radius: 30px; /* Rounded corners */
    -fx-border-radius: 30px; /* Ensure border matches the background */
    -fx-border-color: transparent; /* No border */
    -fx-padding: 10px 20px; /* Add padding */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0); /* Add shadow */
    -fx-font-family: "Arial"; /* Font family */
    -fx-font-weight: bold; /* Bold text */
}

#btnUserForm:hover,#btnBookForm:hover,#btnBorrowForm:hover,#btnFineForm:hover,#btnReportForm:hover{
    -fx-background-color: #4abd46; /* Slightly darker gray on hover */
}

.round-exit-button {
    -fx-background-color: #e74c3c;
    -fx-text-fill: white;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-border-color: transparent;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-font-family: "Arial";
    -fx-font-weight: bold;


}

.round-exit-button:hover {
    -fx-background-color: #c0392b;
    -fx-border-color: #a93226;
    -fx-effect: dropshadow(gaussian, rgba(231, 76, 60, 0.8), 10, 0.5, 0, 2);

}

.round-exit-button:pressed {
    -fx-background-color: #922b21;
    -fx-border-color: #78281f;
    -fx-effect: dropshadow(gaussian, rgba(231, 76, 60, 1), 3, 0.5, 0, 1);
}
